.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.footer-elements {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-element {
    list-style: none;
}

.icon {
    height: 2rem;
}

#copyright {
    font-size: 0.7rem;
}