.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profilepic {
    height: 20rem;
}

.about-content {
    margin-top: 1.5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}